{% extends 'base.html' %}

{% block title %} Add Information {% endblock %}

{% block header %}
    <h1>Edit Information</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}

                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control") }}

                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control") }}

                        {{ form.number.label }}
                        {{ form.number(class="form-control") }}

                        {{ form.address.label }}
                        {{ form.address(class="form-control") }}

                        {{ form.submit(class="btn btn-outline-secondary w-100 mt-3", value="Edit Info") }}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
