{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1>Welcome to our Address Book</h1>
    {% if present_user.is_authenticated %}
        <h5>Thank you {{ present_user.username }} for visiting us again!</h5>
    {% else %}
        <h5>Please <strong>SIGN UP</strong> or <strong>LOG IN</strong> to Add Information to our Address Book!</h5>
    </h5>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Left 2/3 Column -->
        <div class="col-12 col-lg-8 order-1 order-lg-0 ">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                {% for information in info %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ information.id }}</th>
                        <td>{{ information.first_name }} {{ information.last_name  }}</td>
                        <td>{{ information.number }}</td>
                        <td>{{ information.address }}</td>
                        <!-- {% if information.author == present_user %}
                            <div class="modal fade" id="deleteUserInfoModal-{{ userinfo.user_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ userinfo.title }}?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                Are you sure you want to delete {{ userinfo.title }}? This action cannot be undone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{{ url_for('delete_post', user_id=user.id) }}" class="btn btn-danger">Delete Post</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %} -->
                    </tr>
                {% endfor %}

                    </tbody>
            </table>

        </div>

        <!-- Right 1/3 Column -->
        <div class="col-12 col-lg-4 order-0 order-lg-1">

            <div class="position-sticky top-0">
                <div class="card mt-3">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <form action="">
                            <div class="input-group">
                                <input type="text-dark" class="form-control" placeholder="Enter Search Term...">
                                <button type="submit" class="btn btn-warning">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
