{% extends 'base.html' %}

{% block title %} Log In {% endblock %}

{% block header %}
    <h1>Log In</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="" method="post">
                        {{ forms.csrf_token }}

                        {{ forms.username.label }}
                        {{ forms.username(class='form-control', placeholder='Enter Username') }}

                        {{ forms.password.label }}
                        {{ forms.password(class='form-control', placeholder='Enter Password') }}

                        {{ forms.submit(class='btn btn-primary w-100 mt-3')}}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
