{% extends 'base.html' %}

{% block title %} Log In {% endblock %}

{% block header %}
    <h1>Log In</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card mt-5">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-6">
                                {{ form.username.label }}
                                {{ form.username(type='text', class='form-control', placeholder='Enter Username') }}
                            </div>
                            <div class="col-6">
                                {{ form.password.label }}
                                {{ form.password(type='text', class='form-control', placeholder='Enter Password') }}

                            </div>
                        </div>
                        {{ form.submit(class='btn btn-primary w-100 mt-3 ') }}
                        <h6 class="pt-3 text-center">Don't have an account?<p><a href="/login" class="link-primary link-center">Sign Up</a></p></h6>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
